/* ================= Banner Area ==================== */

.banner {
	background:#63b7e6;
	padding:145px 0 0 0;
	overflow: hidden;
}

.caption {
	text-align:center;
}

.caption h1 {
	font-size:60px;
	line-height:60px;
	margin-bottom:31px;
	font-family: 'Source Sans Pro', sans-serif;
	position:relative;
	padding-bottom:28px;
	margin-bottom:27px;
}

.caption h1:before {
	content:"";
	position:absolute;
	bottom:0;
	left:50%;
	background:#fff;
	height:1px;
	width:200px;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}

.caption h3 {
	font-family: 'Open Sans', sans-serif;
	margin:0;
}

.caption button {
	color:#66ccff;
	height: 44px;
    line-height: 44px;
    padding: 0 26px;
	border-radius:2px;
	-webkit-border-radius:2px;
	-ms-border-radius:2px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	border:none;
}

.caption button:hover ,
.caption button:focus {
	background:#fff;
	color:#66ccff;
}

.software-img img{
	display:inline-block;
}