/* ================= Contact Us Area ==================== */

.contact-us {
	padding:150px 0 145px;
}

.contact-us .form-group {
	margin-bottom:5px;
}

.contact-us textarea {
	margin-top:28px;
}

.contact-us .form-control {
	height:60px;
	line-height:1;
	padding:0;
	font-size:16px;
	color:#999;
	text-transform:capitalize;
	font-weight:600;
	border-bottom:1px solid #cccccc;
	box-shadow:none !important;
	margin-bottom:0;
}

textarea {
	border-bottom:1px solid #cccccc !important;
	border-left:none !important;
	border-right:none !important;
	border-top:none !important;
	box-shadow:none !important;
	border-radius:0 !important;
	height:110px !important;
	max-height:110px !important;
	min-height:110px !important;
}

textarea:focus {
	border-bottom:1px solid #63b7e6 !important;
}

.contact-us .white-bg {
	padding:99px 90px 98px 90px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.2);
	box-shadow: 0 5px 5px rgba(0,0,0,.2);

}

.address {
	padding:99px 0 98px 90px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.2);
	box-shadow: 0 5px 5px rgba(0,0,0,.2);
}

.address .block {
	margin-bottom:65px;
}

.address .block:last-child {
	margin-bottom:0;
}

.address h2 {
	margin-bottom:20px;
}

.address p {
	font-size:18px;
	line-height:24px;
	margin-bottom:0;
}

.address a {
	font-size:18px;
	color:#666;
}

.form.white-bg {
	padding-top:85px;
}