/* ================= Footer Area ==================== */

.footer {
	padding:50px 0  40px;
	position:relative;
}

.social-icon ul {
	display:block;
	padding:0;
	margin:0;
}

.social-icon li {
	display:inline-block;
	padding:0 11px;
}

.social-icon li a {
	color:#000;
}

.social-icon li:hover a i {
	color:#63b7e6;
}

.social-icon li a i {
	font-size:25px;
}

.copy-right p {
	font-size:16px;
	color:#999999;
	text-align:right;
	margin-bottom:0;
}

.scroll-top-btn a {
	left:50%;
	transform:translateX(-50%);
	-webkit-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}