/* ================= NavBar Area ==================== */
.header {
	margin-top:94px;
}

.navbar-fixed-top {
	position:fixed;
	z-index:99999;	
}

.navbar-default {
	min-height:95px;
	height:95px;
	margin-bottom:0;
	padding:17px 0 25px;
	background:#fff;
	-webkit-box-shadow: 0 5px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 0 5px 5px rgba(0,0,0,.25);
	box-shadow: 0 5px 5px rgba(0,0,0,.25);
	border-radius:0;
	-webkit-border-radius:0;
	-ms-border-radius:0;
}

.nav > li {
	margin: 0px 2px;
}

.navbar-brand {
	padding:0;
	height:auto;
}

.navbar-nav  {
	margin-top:10px;
}

.navbar-default .navbar-nav > li > a {
	font-family: 'Source Sans Pro', sans-serif;
	font-size:16px;
	font-weight:600;
	line-height:16px;
	color:#999;
	text-transform:uppercase;
}

.navbar-nav > li > a {
	padding:10px 22px 11px;
}

.navbar-default .navbar-nav > li > a {
	 -webkit-transition:none !important;
  -moz-transition:none !important;
  -ms-transition:none !important;
  -o-transition:none !important;
  transition:none !important;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus , .navbar-default .navbar-nav > li > a.active {
    background:#66ccff;
	color:#fff;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	 background:#66ccff;
	color:#fff;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
}


.navbar-brand{
	margin-left:0 !important;
}

.navbar-collapse {
	padding:0;
}

.navbar-toggle {
	margin-top:17px;	
}

