/* ================= Screenshot Area ==================== */

.screenshot {
	background:#2c3e50;	
	padding:150px 0 145px;
	overflow:hidden;
}

.screenshot .macbook > img { width:100%; height:100%; }
.carousel-control.left , .carousel-control.right { background:none; width:auto; }
.carousel { height:auto; }
.caption-text h2 {
	line-height:36px;
}
.caption-text {
	display:table-cell;
	height:440px;
	vertical-align:middle;
}

.caption-text p {
	font-size:18px;
	line-height:26px;
	margin-bottom:0;
}

.carousel-control {
	bottom:0;
	top:80%;
	opacity:1;
	text-shadow:none;
}

.carousel-control span {
	height:41px;
	width:41px;
	border:1px solid #fff;
	display:inline-block;
	font-size:22px;
	line-height:36px;
}

.carousel-control span:hover {
	background:#63b7e6;
	border:1px solid #63b7e6;
}

.carousel-control.right {
 left:55px;
 right:auto;
}

.macbook {
	position:absolute;
	right:0;
	height:448px;
	top:0;
	width:67.5%;
}
.img-slider {
	position:relative;
	top:27px;
	left:78px;
}

.img-slider img {
	height:376px;
	width:76%;
}

.macbook .img-slider img {
	width:100%;
}

.carousel-indicators li {
	background:#ccc;
	border:none;
	height:10px;
	width:10px;
	margin:0;
}

.carousel-indicators .active {
	height:10px;
	width:10px;
	background:#1bbc9b;
	margin:0;
}

.carousel-indicators {
	left:auto;
	right:15px;
	margin-left:0;
	bottom:25px;
}

 .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
          transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
 .carousel-fade .carousel-inner .active,
 .carousel-fade .carousel-inner .next.left,
 .carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
 .carousel-fade .carousel-inner .next,
 .carousel-fade .carousel-inner .prev,
 .carousel-fade .carousel-inner .active.left,
 .carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
