<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en"> <!--<![endif]--><head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Joining Title -->
<title>Home</title>

<!-- Place favicon.ico in the root directory -->
<!--<link rel="shortcut icon" href="images/favicon/favicon.png">
<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon-114x114.png">-->

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,600i,700,700i" rel="stylesheet">


<!-- Jquery Fancybox CSS -->
<link href="css/jquery.fancybox.css" rel="stylesheet"><strong></strong>
<!-- Animate CSS -->

<link href="css/animate.css" rel="stylesheet">
<!-- Material Icons CSS -->
<link rel="stylesheet" href="fonts/iconfont/material-icons.css">
<!-- Pixeden Icon CSS -->
<link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/helper.css">
<!-- Pixeden Icon CSS -->
<link rel="stylesheet" href="fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
<!-- FontAwesome CSS -->
<link rel="stylesheet" href="fonts/font-awesome/css/font-awesome.min.css">
<!-- Materialize CSS -->
<link rel="stylesheet" href="css/materialize.min.css">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="css/bootstrap.css">
<!-- Transition CSS -->
<link rel="stylesheet" href="css/transition.css">
<!-- Navbar CSS -->
<link rel="stylesheet" href="css/navbar.css">
<!-- Banner CSS -->
<link rel="stylesheet" href="css/banner.css">
<!-- Service CSS -->
<link rel="stylesheet" href="css/service.css">
<!-- About-Us CSS -->
<link rel="stylesheet" href="css/about-us.css">
<!-- Screen Shot Start -->
<link rel="stylesheet" href="css/screenshot.css">
<!-- Our-Clients CSS -->
<link rel="stylesheet" href="css/our-clients.css">
<!-- Portfolio CSS -->
<link rel="stylesheet" href="css/portfolio.css">
<!-- priceing-table CSS -->
<link rel="stylesheet" href="css/priceing-table.css">
<!-- Testinomial CSS -->
<link rel="stylesheet" href="css/testinomial.css">
<!-- Faq CSS -->
<link rel="stylesheet" href="css/faq.css">
<!-- Contact us CSS -->
<link rel="stylesheet" href="css/contact-us.css">
<!-- Footer CSS -->
<link rel="stylesheet" href="css/footer.css">
<!-- Home CSS -->
<link rel="stylesheet" href="css/home.css">
<!-- Slick Slider CSS -->
<link rel="stylesheet" href="css/slick.css">
<!-- Slick-Theme Slider CSS -->
<link rel="stylesheet" href="css/slick-theme.css">
<!-- Style CSS -->
<link rel="stylesheet" href="css/style.css">
<!-- Responsive CSS -->
<link rel="stylesheet" href="css/responsive.css">
<!-- Faq CSS -->
<link rel="stylesheet" href="css/faq.css">

<!--[if lt IE 9]>
	<script src="js/html5shiv.min.js"></script>
	<script src="js/respond.min.js"></script>
<![endif]-->

<!-- Mordernizr CSS -->
<script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!-- Preloader Start -->
<div id="preloader">
  <div class="preloader-wrapper big active">
	<div class="spinner-layer spinner-blue-only">
	  <div class="circle-clipper left">
		<div class="circle"></div>
		  </div><div class="gap-patch">
			<div class="circle"></div>
		  </div><div class="circle-clipper right">
		<div class="circle"></div> 
	  </div> 
	</div> 
  </div> 
</div>
<!-- Preloader End -->
<!-- Header Start -->
<header class="header clearfix">
	<!-- Navigation Menu Starts -->
	<nav class="navbar navbar-default navbar-fixed-top box-shadow-10">
	  <div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
		  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		  </button>
		  <a class="navbar-brand" href="#"><img class="img-responsive" src="images/logo.png" alt=""/></a>
		</div>
	
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		  <ul class="nav navbar-nav navbar-right">
			<li><a data-scroll-nav="0" class="active" href="#">HOME</a></li>
			<li><a data-scroll-nav="1" href="#">ABOUT US  </a></li>
			<li><a data-scroll-nav="2" href="#">PORTFOLIO  </a></li>
			<li><a data-scroll-nav="3" href="#">PRICING  </a></li>
			<li><a data-scroll-nav="4" href="#">FAQ  </a></li>
			<li><a data-scroll-nav="5" href="#">CONTACT US  </a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- Navigation Menu End -->
</header>	
<!-- Header End -->
<!-- Banner Start -->
<section class="banner clearfix wow fadeInUp" data-wow-duration="0.9s" data-scroll-index="0">
	<div class="container">
		<!-- Caption Start -->
		<div class="caption">
			<h1 class="text-black white-text wow fadeInUp" data-wow-duration="1.8s">WELCOME TO CHOMOK</h1>
			<h3 class="white-text text-semibold mb-50 wow fadeInUp" data-wow-duration="2.4s">THE BEST SELLING MULTI-PURPOSE TEMPLATE</h3>
			<button class="white-bg text-uppercase text-bold btn waves-effect subscribe-submit mb-70 wow fadeInUp" data-wow-duration="2.6s">GET STARTED NOW</button>
			
		</div>
		<!-- Caption End -->
		<!-- Sofware img Start -->
		<div class="software-img text-center wow fadeInUp"  data-wow-duration="2.4s">
			<img class="img-responsive" src="images/software-img/1.png" alt=""/>
		</div>
		<!-- Sofware img End -->
	</div>
</section>
<!-- Banner End -->
<!-- Service Start -->
<section class="service">
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3 wow fadeInUp" data-wow-duration="1.0s">
				<div class="block text-center">
					<i class="pe-7s-glasses font-50 mb-20 light-gray-text"></i>
					<h3 class="text-semibold dark-gray-text padding-bottom-20">SLEEK DESIGN</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 wow fadeInUp" data-wow-duration="2.0s">
				<div class="block text-center">
					<i class="pe-7s-like font-50 mb-20 light-gray-text"></i>
					<h3 class="text-semibold dark-gray-text padding-bottom-20">SLEEK DESIGN</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 wow fadeInUp" data-wow-duration="2.4s">
				<div class="block text-center">
					<i class="pe-7s-light font-50 mb-20 light-gray-text"></i>
					<h3 class="text-semibold dark-gray-text padding-bottom-20">SLEEK DESIGN</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
				</div>
			</div>
			<div class="col-sm-3 col-md-3 wow fadeInUp" data-wow-duration="3.0s">
				<div class="block text-center">
					<i class="pe-7s-chat font-50 mb-20 light-gray-text"></i>
					<h3 class="text-semibold dark-gray-text padding-bottom-20">SLEEK DESIGN</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Service End -->
<!-- About-US Start -->
<section class="about-us padding-tb-150" data-scroll-index="1">
	<!-- Container Start -->
	<div class="container">
		<div class="row padding-bottom-150">
			<div class="col-sm-12 col-md-6 wow fadeInUp" data-wow-duration="1.0s">
				<img class="img-responsive" src="images/software-img/2.jpg" alt="">
			</div>
			<div class="col-sm-12 col-md-6 padding-left-65 wow fadeInUp" data-wow-duration="1.6s">
				<h1 class="dark-gray-text mb-46">CORNER YOUR MARKET</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-push-6 wow fadeInUp" data-wow-duration="2.6s">
				<img class="img-responsive" src="images/software-img/3.jpg" alt="">
			</div>
			<div class="col-sm-12 col-md-6 padding-right-65 col-md-pull-6 wow fadeInUp" data-wow-duration="2.0s">
				<h1 class="dark-gray-text mb-46">CORNER YOUR MARKET</h1>
				<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
			</div> 
		</div>
	</div>
	<!-- Container End -->
</section> 
<!-- About-US End -->
<!-- ScreenShot Start -->
<section class="screenshot clearfix">
	<div class="container">
		<div class="section-title text-center mb-45">
			<div class="row">
				<div class="col-centered col-sm-12 col-md-8">
					<h1 class="white-text wow fadeInUp" data-wow-duration="1.0s">Site Builder Screenshots</h1>
					<p class="white-text wow fadeInUp" data-wow-duration="1.6s">Contrary to popular belief, Lorem Ipsum is not simply random text. Contrary to popular belief, Lorem<br /> Ipsum is not simply random text. </p>
				</div>
			</div>
		</div>
		<div id="carousel-example-generic" class="carousel carousel-fade slide wow fadeInUp" data-wow-duration="2.0s" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>
			<div class="macbook" >
				<img class="img-responsive" src="images/screenshot/macbook.png" alt=""/>
			</div>
		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
			<!-- Item Start -->
			<div class="item active">
				<div class="row">
					<!-- Col Start -->
					<div class="col-sm-4 col-md-4">
						<div class="caption-text">
							<h2 class="white-text mb-30">Awesome Drag & Drop Page <br/>Builder</h2>
							<p class="white-text">Use the intuitive drag&drop builder to quickly put beautiful pages together.</p>
						</div>
					</div>
					<!-- Col End -->
					<!-- Col Start -->
					<div class="col-sm-8 col-md-8">
						<div class="img-slider">
							<img class="img-responsive" src="images/screenshot/2.jpg" alt=""/>
						</div>
					</div>
					<!-- Col End -->
				</div>
			</div>
			<!-- Item End -->
		   <!-- Item Start -->
			<div class="item">
				<div class="row">
					<!-- Col Start -->
					<div class="col-sm-4 col-md-4">
						<div class="caption-text">
							<h2 class="white-text mb-30">Awesome Drag & Drop Page <br/>Builder</h2>
							<p class="white-text">Use the intuitive drag&drop builder to quickly put beautiful pages together.</p>
						</div>
					</div>
					<!-- Col End -->
					<!-- Col Start -->
					<div class="col-sm-8 col-md-8">
						<div class="img-slider">
							<img class="img-responsive" src="images/software-img/1.png" alt=""/>
						</div>
					</div>
					<!-- Col End -->
				</div>
			</div>
			<!-- Item End -->
			<!-- Item Start -->
			<div class="item">
				<div class="row">
					<!-- Col Start -->
					<div class="col-sm-4 col-md-4">
						<div class="caption-text">
							<h2 class="white-text mb-30">Awesome Drag & Drop Page <br/>Builder</h2>
							<p class="white-text">Use the intuitive drag&drop builder to quickly put beautiful pages together.</p>
						</div>
					</div>
					<!-- Col End -->
					<!-- Col Start -->
					<div class="col-sm-8 col-md-8">
						<div class="img-slider">
							<img class="img-responsive" src="images/screenshot/2.jpg" alt=""/>
						</div>
					</div>
					<!-- Col End -->
				</div>
			</div>
			<!-- Item End -->
		  </div>
		
		  <!-- Controls -->
		  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span><i class="fa fa-angle-left white-text" aria-hidden="true"></i></span>
		  </a>
		  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span><i class="fa fa-angle-right white-text" aria-hidden="true"></i></span>
		  </a>
		</div>
	</div>
</section>
<!-- ScreenShot End -->
<!-- Our-Clients Section Start -->
<section class="our-clients padding-tb-150">
	<div class="container">
		<div class="section-title text-center">
			<div class="row">
				<div class="col-centered col-sm-10 col-md-8 padding-lf-55">
					<h1 class="dark-gray-text wow fadeInUp" data-wow-duration="1.0s">Great Integrations with Others</h1>
					<p class="wow fadeInUp" data-wow-duration="1.6s">Suspendisse sed eros mollis, tincidunt felis eget, interdum erat. <br/>Nullam sit amet odio eu est aliquet euismod a a urna. Proin eu urna suscipit, dictum quam nec. </p>
					
				</div>
			</div>
		</div>
		<div class="brand-logo">
			<ul>
				<li class="wow fadeInUp" data-wow-duration="2.0s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-1.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-11.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="2.2s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-2.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-22.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="2.4s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-3.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-33.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="2.6s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-4.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-44.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="2.8s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-5.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-55.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="3.0s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-6.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-66.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="3.2s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-7.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-77.png" alt="">
					 </a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="3.4s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-8.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-88.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="3.6s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-9.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-99.png" alt="">
					</a>
				</li>
				<li class="wow fadeInUp" data-wow-duration="3.8s">
					<a href="#">
						<img class="img-responsive orig-logo" src="images/brand-logo/logo-10.png" alt="">
						<img class="img-responsive white-logo" src="images/brand-logo/logo-100.png" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
<!-- Our-Clients Section End -->
<!-- Portfolio Section Start -->
<section class="portfolio padding-top-100 padding-bottom-150" data-scroll-index="2">
	<!-- Container Section Start -->
	<div class="container">
		<!-- Section Title Start -->
		<div class="section-title text-center">
			<div class="row">
				<div class="col-centered col-sm-10 col-md-8">
					<h1>PORTFOLIO</h1>
				</div>
			</div>
		</div>
		<!-- Section Title End -->
		<!-- Filter Selection Section Start -->
		<div class="filter-product wow fadeInUp" data-wow-duration="0.4s">
			<ul id="filters" class="clearfix portfolio-gal-filter" data-option-key="filter">
				<li><a href="#filter" class="active" data-option-value="*">All</a></li>
				<li><a href="#filter" data-option-value=".art">Art</a></li>
				<li><a href="#filter" data-option-value=".logo">Logo</a></li>
				<li><a href="#filter" data-option-value=".printdesign">Print Design</a></li>
				<li><a href="#filter" data-option-value=".webdesign">Web Design</a></li>
				<li><a href="#filter" data-option-value=".fashion">Fashion</a></li>
			</ul>
		</div>
		<!-- Filter Selection Section End -->
		<!-- Portfolio-Filter Start -->
		<div class="portfolio-gal isotope masonry_wrapper">
			<div class="row">
				<div class="col-xs-12 col-sm-4 webdesign wow fadeInUp" data-wow-duration="1.0s">
					<a class="img fancybox" href="images/portfolio-img/portfolio-img1.jpg" data-fancybox-group="gallery">
						<div class="image">
							<img class="img-responsive" src="images/portfolio-img/portfolio-img1.jpg" alt=""/>
						</div>
						<div class="image-detail">
							<p>Khamu - PSD Template</p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 logo wow fadeInUp" data-wow-duration="1.2s">
					<a class="img fancybox" href="images/portfolio-img/portfolio-img2.jpg" data-fancybox-group="gallery">
						<div class="image">
							<img class="img-responsive" src="images/portfolio-img/portfolio-img2.jpg" alt=""/>
						</div>
						<div class="image-detail">
							<p>Macro - Logo Design</p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 art wow fadeInUp" data-wow-duration="1.4s">
					<a class="img fancybox" href="images/portfolio-img/portfolio-img3.jpg" data-fancybox-group="gallery">
						<div class="image">
							<img class="img-responsive" src="images/portfolio-img/portfolio-img3.jpg" alt=""/>
						</div>
						<div class="image-detail">
							<p>Minimal Resume</p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 fashion wow fadeInUp" data-wow-duration="1.6s">
					 <a class="img fancybox" href="images/portfolio-img/portfolio-img4.jpg" data-fancybox-group="gallery">
						<div class="image">
							<img class="img-responsive" src="images/portfolio-img/portfolio-img4.jpg" alt=""/>
						</div>
						<div class="image-detail">
							<p>Fashion Artist</p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 webdesign wow fadeInUp" data-wow-duration="2.0s">
					<a class="img fancybox" href="images/portfolio-img/portfolio-img5.jpg" data-fancybox-group="gallery">
						<div class="image">
							<img class="img-responsive" src="images/portfolio-img/portfolio-img5.jpg" alt=""/>
						</div>
						<div class="image-detail">
							<p>Syndwire - Web Template</p>
						</div>
					</a>
				</div>
				<div class="col-xs-12 col-sm-4 printdesign wow fadeInUp" data-wow-duration="2.2s">
					<a class="img fancybox" href="images/portfolio-img/portfolio-img6.jpg" data-fancybox-group="gallery">
						<div class="image">
							<img class="img-responsive" src="images/portfolio-img/portfolio-img6.jpg" alt=""/>
						</div>
						<div class="image-detail">
							<p>Business Card</p>
						</div>
					</a>
				</div>
			</div>
			
		</div>
		<!-- Portfolio-Filter End -->
		<!-- More Button Start -->
		<div class="more-button clearfix text-center wow fadeInUp" data-wow-duration="2.4s">
			<a href="#header" data-section="top" class="scroll-top red-bg padding-all-1623 radius-full box-shadow-10 waves-effect waves-light"><i class="fa fa-plus" aria-hidden="true"></i></a>
		</div>
		<!-- More Button End -->
	</div>
	<!-- Container Section End -->
</section>
<!-- Portfolio Section End -->
<!-- Testinomial Start -->
<section class="testinomial sky-bg padding-tb-150 clearfix">
	<div class="container">
		<div class="row">
			<div class="col-sm-10 col-centered">
				<div class="slider-t">
					<div class="slider slider-for">
						<!-- Item Start -->
						<div>
							<p class="text-center white-text">This rank tracker has the best UI out of all hosted trackers I have used. Plus it's cheap and fast, I'll send my friends over.</p>
							<div class="line">
								<img class="img-responsive" src="images/testinomial/line.png" alt=""/>
							</div>
							<div class="author">
								<span>- Emma Watt, Google</span>
							</div>
						</div>
						<!-- Item End -->
						<!-- Item Start -->
						<div>
							<p class="text-center white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<div class="line">
								<img class="img-responsive" src="images/testinomial/line.png" alt=""/>
							</div>
							<div class="author">
								<span>- John Deo, Google</span>
							</div>
						</div>
						<!-- Item End -->
						<!-- Item Start -->
						<div>
							<p class="text-center white-text">This rank tracker has the best UI out of all hosted trackers I have used. Plus it's cheap and fast, I'll send my friends over.</p>
							<div class="line">
								<img class="img-responsive" src="images/testinomial/line.png" alt=""/>
							</div>
							<div class="author">
								<span>- Emma Watt, Google</span>
							</div>
						</div>
						<!-- Item End -->
						<!-- Item Start -->
						<div>
							<p class="text-center white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<div class="line">
								<img class="img-responsive" src="images/testinomial/line.png" alt=""/>
							</div>
							<div class="author">
								<span>- Emma Watt, Google</span>
							</div>
						</div>
						<!-- Item End -->
						<!-- Item Start -->
						<div>
							<p class="text-center white-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
							<div class="line">
								<img class="img-responsive" src="images/testinomial/line.png" alt=""/>
							</div>
							<div class="author">
								<span>- Emma Watt, Google</span>
							</div>
						</div>
						<!-- Item End -->
						<!-- Item Start -->
						<div>
							<p class="text-center white-text">This rank tracker has the best UI out of all hosted trackers I have used. Plus it's cheap and fast, I'll send my friends over.</p>
							<div class="line">
								<img class="img-responsive" src="images/testinomial/line.png" alt=""/>
							</div>
							<div class="author">
								<span>- Emma Watt, Google</span>
							</div>
						</div>
						<!-- Item End -->
					</div>
					<div class="col-sm-7 col-md-6 col-centered">
						<div class="slider slider-nav">
							<div><img class="img-responsive" src="images/testinomial/1.jpg" alt=""/></div>
							<div><img class="img-responsive" src="images/testinomial/2.jpg" alt=""/></div>
							<div><img class="img-responsive" src="images/testinomial/3.jpg" alt=""/></div>
							<div><img class="img-responsive" src="images/testinomial/4.jpg" alt=""/></div>
							<div><img class="img-responsive" src="images/testinomial/5.jpg" alt=""/></div>
							<div><img class="img-responsive" src="images/testinomial/1.jpg" alt=""/></div>
					   </div>
				   </div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Testinomial End -->
<!-- Pricing table Start -->
<div class="priceing-table white-bg-sec clearfix" data-scroll-index="3">
	<div class="container">
		<div class="section-title text-center mb-45">
			<div class="row">
				<div class="col-centered col-sm-10 col-md-8">
					<h1 class="dark-gray-text wow fadeInUp" data-wow-duration="1.0s">PRICING TABLE</h1>
					<p class="wow fadeInUp" data-wow-duration="1.2s">NO CREDIT CARD required for free sign up. You can change your account at any time. We bill<br/> month-to-month.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Pricing -->
			<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="1.4s">
				<div class="pricing hover-effect">
					<div class="price-shadow">
						<div class="pricing-head">
							<h2 class="white-text text-uppercase">Free trial </h2>
							<h4><sup>$</sup>5<i></i>
							<span>/ Month </span>
							</h4>
						</div>
						<ul class="pricing-content list-unstyled text-center">
							<li>1 Website</li>
							<li>10 Keywords</li>
							<li>Keyword Discovery</li>
							<li>Competition Analysis</li>
							<li>All Ranked URLs</li>
							<li>International Support</li>
							<li>Social Media Tracking</li>
							<li>Email Summary Reports</li>
							<li>Awesome Support</li>
						</ul>
						<div class="pricing-footer text-center">
							<a href="javascript:;" class="btn-white-small waves-effect"> buy now</a>
						</div>
					 </div>   
				</div>
			</div>
			<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="1.6s">
				<div class="pricing hover-effect">
					<div class="price-shadow">
						<div class="pricing-head">
							<h2 class="white-text text-uppercase">SMALL</h2>
							<h4><sup>$</sup>19<i></i>
							<span>/ Month </span>
							</h4>
						</div>
						<ul class="pricing-content list-unstyled text-center">
							<li>Unlimited  Website</li>
							<li>100 Keywords</li>
							<li>Keyword Discovery</li>
							<li>Competition Analysis</li>
							<li>All Ranked URLs</li>
							<li>International Support</li>
							<li>Social Media Tracking</li>
							<li>Email Summary Reports</li>
							<li>Awesome Support</li>
						</ul>
						<div class="pricing-footer text-center">
							<a href="javascript:;" class="btn-white-small waves-effect"> buy now</a>
						</div>
					</div>    
				</div>
			</div>
			<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="1.8s">
				<div class="box">
				   <div class="ribbon"><span>hot</span></div>
				</div>
				<div class="pricing pricing-active hover-effect">
					<div class="price-shadow">
						<div class="pricing-head">
							<h2 class="white-text text-uppercase">Medium</h2>
							<h4><sup>$</sup>39<i></i>
							<span>/ Month </span>
							</h4>
						</div>
						<ul class="pricing-content list-unstyled text-center">
							<li>Unlimited Website</li>
							<li>250 Keywords</li>
							<li>Keyword Discovery</li>
							<li>Competition Analysis</li>
							<li>All Ranked URLs</li>
							<li>International Support</li>
							<li>Social Media Tracking</li>
							<li>Email Summary Reports</li>
							<li>Awesome Support</li>
						</ul>
						<div class="pricing-footer text-center">
							<a href="javascript:;" class="btn-white-small waves-effect"> buy now</a>
						</div>
					 </div>   
				</div>
			</div>
			<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-duration="2.0s">
				<div class="pricing  hover-effect">
					<div class="price-shadow">
						<div class="pricing-head">
							<h2 class="white-text text-uppercase">Large</h2>
							<h4><sup>$</sup>69<i></i>
							<span>/ Month </span>
							</h4>
						</div>
						<ul class="pricing-content list-unstyled text-center">
							<li>Unlimited Website</li>
							<li>500 Keywords</li>
							<li>Keyword Discovery</li>
							<li>Competition Analysis</li>
							<li>All Ranked URLs</li>
							<li>International Support</li>
							<li>Social Media Tracking</li>
							<li>Email Summary Reports</li>
							<li>Awesome Support</li>
						</ul>
						<div class="pricing-footer text-center">
							<a href="javascript:;" class="btn-white-small waves-effect"> buy now</a>
						</div>
					</div>    
				</div>
			</div>
			<!-- End Pricing -->
		</div>
	</div>    
</div>
<!-- Pricing table End -->
<!-- Faq Start -->
<section class="faq white-bg-third clearfix" data-scroll-index="4">
	<div class="container">
		<div class="section-title text-center mb-45">
			<div class="row">
				<div class="col-centered col-sm-10 col-md-10">
					<h1 class="dark-gray-text wow fadeInUp" data-wow-duration="1.0s">Frequently Asked Questions</h1>
					<p class="wow fadeInUp" data-wow-duration="1.2s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected<br /> humour,</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Col Start -->
			<div class="col-sm-6 col-md-6 wow fadeInUp" data-wow-duration="1.6s">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingfive">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefive" aria-expanded="true" aria-controls="collapsefive">
									<i class="more-less glyphicon glyphicon-minus waves-effect"></i>
									Is SiteBuilder a CMS or a page builder?
								</a>
							</h4>
						</div>
						<div id="collapsefive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingfive">
							<div class="panel-body">
								  Both! SiteBuilder comes with an intuitive drag&drop page builder which allows you to put page and entire sites together swiftly. Combined with it's built-in publishing feature, SiteBuilder can also be used as a basic CMS where you edit your site through SiteBuilder and them publish them online.
							</div>
						</div>
					</div>
			
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingsix">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
									<i class="more-less glyphicon glyphicon-plus"></i>
									Will you be adding more blocks?
								</a>
							</h4>
						</div>
						<div id="collapsesix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingsix">
							<div class="panel-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</div>
						</div>
					</div>
			
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingseven">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
									<i class="more-less glyphicon glyphicon-plus"></i>
									Are you available for customisation work?
								</a>
							</h4>
						</div>
						<div id="collapseseven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingseven">
							<div class="panel-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingeight">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseeight" aria-expanded="false" aria-controls="collapseeight">
									<i class="more-less glyphicon glyphicon-plus"></i>
								   Can I see the documentation before I purchase?
								</a>
							</h4>
						</div>
						<div id="collapseeight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingeight">
							<div class="panel-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Col End -->
			<!-- Col Start -->
			<div class="col-sm-6 col-md-6 wow fadeInUp" data-wow-duration="2.0s">
				<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i class="more-less glyphicon glyphicon-minus"></i>
									Can I add my own blocks?
								</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								  Both! SiteBuilder comes with an intuitive drag&drop page builder which allows you to put page and entire sites together swiftly. Combined with it's built-in publishing feature, SiteBuilder can also be used as a basic CMS where you edit your site through SiteBuilder and them publish them online.
							</div>
						</div>
					</div>
			
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									<i class="more-less glyphicon glyphicon-plus"></i>
									I have run into issues, do you offer support?
								</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</div>
						</div>
					</div>
			
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i class="more-less glyphicon glyphicon-plus"></i>
									Is there a Pro version?
								</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingfour">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
									<i class="more-less glyphicon glyphicon-plus"></i>
								   Are assets such as images/stylesheets in the export?
								</a>
							</h4>
						</div>
						<div id="collapsefour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingfour">
							<div class="panel-body">
								Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Faq End -->
<!-- Contact Us Start -->
<section class="contact-us sky-bg clearfix" data-scroll-index="5">
	<div class="container">
		<div class="section-title text-center mb-45">
			<div class="row">
				<div class="col-centered col-sm-10 col-md-8">
					<h1 class="white-text wow fadeInUp" data-wow-duration="1.0s">Keep In Touch</h1>
					<p class="white-text wow fadeInUp" data-wow-duration="1.6s">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quis nisl scelerisque, luctus metus sed,<br /> dapibus nibh.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<!-- Col Start -->
			<div class="col-sm-5 col-md-5">
				<!-- Address Start -->
				<div class="address white-bg wow fadeInUp" data-wow-duration="1.0s">
					<div class="block wow fadeInUp" data-wow-duration="1.8s">
						<h2 class="dark-gray-text text-uppercase text-semibold">OUR ADDRESS</h2>
						<p>House #13, Streat road, Sydney <br />2310 Australia</p>
					</div>    
					<div class="block wow fadeInUp" data-wow-duration="2.0s">
						<h2 class="dark-gray-text text-uppercase text-semibold">CALL US</h2>
						<p>+ 880 168 109 1425</p>
						<p>+ 0216809142</p>
					</div>    
					<div class="block wow fadeInUp" data-wow-duration="2.2s">
						<h2 class="dark-gray-text text-uppercase text-semibold">EMAIL US</h2>
						<a href="mailto:contactus@email.com">contactus@email.com</a>
					</div>    
				</div>
				<!-- Address End -->
			</div>
			<!-- Col End -->
			<!-- Col Start -->
			<div class="col-sm-7 col-md-7 wow fadeInUp" data-wow-duration="1.0s">
				<!-- Form Start -->
				<div class="form white-bg">
					<div class="form-group wow fadeInUp" data-wow-duration="1.8s">
						<input type="text" class="form-control" placeholder="Name"/>
					</div>
					<div class="form-group wow fadeInUp" data-wow-duration="2.0s">
						<input type="email" class="form-control" placeholder="email"/>
					</div>
					<div class="form-group wow fadeInUp" data-wow-duration="2.2s">
						<input type="text" class="form-control" placeholder="subject"/>
					</div>
					<div class="form-group wow fadeInUp" data-wow-duration="2.4s">
						<textarea class="form-control" placeholder="Message"></textarea>
					</div>
					<div class="send-btn mt-30 wow fadeInUp" data-wow-duration="2.6s">
						<input type="submit" class="btn-sky waves-effect waves-light" value="SEND MESSAGE">
					</div>
				</div>
				<!-- Form End -->
			</div>
			<!-- Col End -->
		</div>    
   </div>     
</section>
<!-- Contact Us End -->
<!-- Footer Start -->
<footer class="footer white-bg clearfix wow fadeInUp" data-wow-duration="1.0s">
	<div class="scroll-top-btn">
		<a href="#header" data-scroll-goto="0" data-section="top" class="waves-effect scroll-top position-absolute white-bg padding-all-1623 radius-full box-shadow-10 mr-30 top-0 mt-reverse-30 waves-effect"><i class="fa fa-angle-up font-25 dark-gray-text"></i></a>
	</div>
	<div class="container">
		<div class="row">
			<!-- Col Start -->
			<div class="col-sm-6 col-md-6">
				<div class="social-icon">
					<ul>
						<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
						<li><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></li>
					</ul>
				</div>
			</div>
			<!-- Col End -->
			<!-- Col Start -->
			<div class="col-sm-6 col-md-6">
				<div class="copy-right">
					<p>Copyright &copy; 2018.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
				</div>
			</div>
			<!-- Col End -->
		</div>
	</div>
</footer>
<!-- Footer End -->
<!-- jQuery JS -->
<script src="js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap Min JS -->
<script src="js/bootstrap.min.js"></script>
<!-- Smooth Scroll JS -->
<script src="js/materialize.min.js"></script>
<!-- Fancybox JS -->
<script src="js/jquery.fancybox.js"></script>
<!-- Fancybox-Pack JS -->
<script src="js/jquery.fancybox.pack.js"></script>
<!-- Isotope Pkgd Ls -->
<script src="js/isotope/isotope.pkgd.js"></script>
<!-- Sloppy Masonry JS -->
<script src="js/isotope/jquery.isotope.sloppy-masonry.min.js"></script>
<!-- Wow JS -->
<script src="js/wow.js"></script>
<!-- Sticky JS -->
<script src="js/jquery.sticky.js"></script>
<!-- Scrolllt JS -->
<script src="js/scrollIt.min.js"></script>
<!-- Slick Slider JS -->
<script src="js/slick.min.js"></script>
<!-- Main JS -->
<script src="js/main.js"></script>
</body>
</html>
